<!DOCTYPE html>
<html lang="en" >

    <head>
        <title>Ethan</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all/js"></script> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
        <link rel="stylesheet" href="style.css">
        

        <div class="row title ">
          <div  class="col-8">
            <h1>Ethan Olsen</h1>
          </div>
          <div class="col-4">
            <!-- <img id="marioHeader"src="MorganEthanBridals100.jpg" alt="Mario Kart League"> -->
          </div>
        </div>
    </head>

    <body> 

    <div class="sticky-top">
      <nav id="navBar" class="navbar navbar-dark bg-dark nav-fill container-fluid">
        <div class="row" >
            <ul class="nav nav-pills ">
                  <li class="nav-item">
                      <a class="nav-link active "  data-bs-toggle="pill" href="#home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link  " data-bs-toggle="pill" href="#Work">Work</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link  " data-bs-toggle="pill" href="#Hobbies">Hobbies</a>
                  </li>
            </ul>
        </div>
      </nav>
      
    </div>


<div class="backbody">

    <div class="container tab-content mainbody ">

    <div id="home" class="tab-pane active"><br>
      <div class="row ">

        <div class="col-md-7 ">
          <h3>Ethan Olsen</h3>
          <p>Having grown up in Utah, I've always felt a strong affinity for the state's lifestyle. After completing high school, I enrolled at Utah Valley University, initially pursuing a degree in mechanical engineering. As is common among college students, I found myself changing majors before completing my degree. It was during my service with the Utah Army National Guard, where I received valuable financial support for my education and gained numerous opportunities, that I discovered my passion for computer networking. With this newfound interest, I changed my major to computer engineering, which eventually led me to the world of programming. Finally, after some exploration, I settled on a major in computer science, with a focus on networking.</p>

          <h5>skills</h5>
          <p>
            <pre>python            <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star-half checked"></span></pre>
            <pre>JavaScript        <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span></pre>
            <pre>C++               <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span></pre>
            <pre>Detail Oriented   <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span></pre>
            <pre>Networking        <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span></pre>
            <pre>Collaboration     <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span></pre>
           
            

          </p>
          
        </br>
      </br>

        </div>

        <aside id="aside" class="col-md-3 ">
          <img id="photo1" src="MorganEthanBridals1.jpg" alt="Mario Kart League" class="Photo rounded fluid mx-auto d-block" >

        </aside>
      </div>

        <div class="row gy-5">
            <hr class="d-sm-none">
          
          <div class="col-lg-6 px-5">
            <h2>Career Goals</h2>
            <ul>
              <li>work as a Security Engineer</li>
              <li>CISSP</li>
              <li>MOS-Q in current Army position. Which I would get the following Certs</li>
                <ul>
                  <li>GCED - GIAC Advanced Security Essentials</li>
                  <li>GCIH - GIAC Cerified Incident Handler</li>
                  <li>GCCC - GIAC Critical Controls Certification</li>
                </ul>
              <li>Adanced Leadership Course (Army)</li>
            </ul>

          </div>

          <div class="col-lg-6">
            <h2 >Qualifications</h2>
            <ul>
              <li>Bachelors degree in Computer Science with Networking emphasis</li>
              <li>Security+</li>
              <li>ARNG Desktop Support Technician -80 hour course</li>
              <li>Basic Leadership Course (Army)</li>
              
            </ul>
          </div>
        </div>
      </div>



      <div id="Work" class="tab-pane"><br>
        <div class="row gy-5">
  
          <div class="col-md-5 gy-5">
            <h3>Ethan Olsen</h3>
            <p>Work? It's where the best of the best compete for gold cup. It is not for the hobbyist or rookie. 
              You get a team of the best Mario Karters you know and see how you fare in the gold league.</p>

              <ul>
                <li>
                  Als sporting goods
                </li>
                <li>
                  Utah Army National Guard
                  <ul>
                    <li>Signal support specialist</li>
                    <li>Information Technology specialist</li>
                    <li>Cyber Network Defender</li>
                  </ul>
                </li>
              </ul>
          </div>
  
          <aside id="aside" class="col-md-5 offset-md-2">
            <img id="photo1" src="army.jpg" alt="Mario Kart League" class="Photo rounded mx-auto d-block">
  
          </aside>
        </div>
  
          <div class="row gy-5">
              <hr class="d-sm-none">
            
            <div class="col-lg-6 px-5">
              <h2>Have what it takes?</h2>
              <h5>Podium '17 championship</h5>
              <div><img id="podium"src="/img/podium.jpg" alt="Mario Kart winners"></div>
  
              <p>2017 winners with their newly earned golden cups. </p>
            </div>
            <div class="col-lg-6">
              <h2 >Education</h2>
              <p>I will complete my Bachelors degree in Computer Science with and emphasis in networking at Utah Valley University.</p>
              <ul>
                <li>150cc</li>
                <li>Standard Items</li>
                <li>No COM</li>
                <li>Random Courses</li>
                <li>4</li>
              </ul>
            </div>
          </div>
        </div>

        <div id="Hobbies" class="tab-pane"><br>
          <div class="row gy-5">
    
            <div class="col-md-5 gy-5">
              <h3>Ethan Olsen</h3>
              <p>Hobbies? It's where the best of the best compete for gold cup. It is not for the hobbyist or rookie. 
                You get a team of the best Mario Karters you know and see how you fare in the gold league.</p>
  
                <ul>
                  <li>
                    Als sporting goods
                  </li>
                  <li>
                    Utah Army National Guard
                    <ul>
                      <li>Signal support specialist</li>
                      <li>Information Technology specialist</li>
                      <li>Cyber Network Defender</li>
                    </ul>
                  </li>
                </ul>
            </div>
    
            <aside id="aside" class="col-md-5 offset-md-2">
              <img id="photo1" src="army.jpg" alt="Mario Kart League" class="Photo rounded mx-auto d-block">
    
            </aside>
          </div>
    
            <div class="row gy-5">
                <hr class="d-sm-none">
              
              <div class="col-lg-4 px-5">
                <h2>Have what it takes?</h2>
                <h5>Podium '17 championship</h5>
                <div><img id="podium"src="/img/podium.jpg" alt="Mario Kart winners"></div>
    
                <p>2017 winners with their newly earned golden cups. </p>
              </div>
              <div class="col-lg-8">
                <h2 >Regulations</h2>
                <p>For Mario Kart Gold Championship regulations are as follows</p>
                <ul>
                  <li>150cc</li>
                  <li>Standard Items</li>
                  <li>No COM</li>
                  <li>Random Courses</li>
                  <li>4</li>
                </ul>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <script type="module" src="script.js"></script>
  

</body>
</div>


<footer class="container-fluid ">
  <div class="footer">
  
  
  
  <ul class="">
    <li>e-mail: 10684376@uvu.edu</li>
    <li>LinkedIn: ethan-olsen-a90770258</li>
  </ul>
  </div>
</footer>
</html>